openapi: 3.0.4
info:
  title: GUID Generator
  description: >-
    GUID Generator is a tool for generating Globally Unique Identifiers (GUIDs).
    It creates RFC 4122 version 4 UUIDs with multiple formatting options
    including uppercase, no hyphens, and braces.
  termsOfService: https://apiverve.com/terms/
  contact:
    name: APIVerve Support
    email: hello@apiverve.com
    url: https://apiverve.com/contact
  version: 1.0.0
externalDocs:
  description: Learn more about APIVerve
  url: https://docs.apiverve.com?utm_source=openapi
servers:
  - url: https://api.apiverve.com/
paths:
  /v1/guidgenerator:
    get:
      summary: Generate GUID
      description: Generate one or more GUIDs with formatting options
      operationId: guidgenerator
      parameters:
        - name: count
          in: query
          schema:
            type: integer
          required: false
          description: Number of GUIDs to generate
          example: 3
        - name: format
          in: query
          schema:
            type: string
          required: false
          description: Output format
          example: uppercase
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  guids:
                    - 099FD1E4-60FD-4749-9B61-53A265F52579
                    - D68CA374-C822-40E4-9948-CE7A5D5FC76A
                    - F6DAD45F-A904-4007-89DF-8F5C76184910
                  count: 3
                  format: uppercase
                  version: 4
                  variant: RFC 4122
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
security:
  - api_key: []
