openapi: 3.0.4
info:
  title: GUID Generator
  description: GUID Generator is a tool for generating Globally Unique Identifiers (GUIDs). It creates RFC 4122 version 4 UUIDs with multiple formatting options including uppercase, no hyphens, and braces.
  termsOfService: https://apiverve.com/terms/
  contact:
    name: APIVerve Support
    email: hello@apiverve.com
    url: https://apiverve.com/contact
  version: 1.0.9
externalDocs:
  description: Learn more about APIVerve
  url: https://docs.apiverve.com?utm_source=openapi
servers:
- url: https://api.apiverve.com/
paths:
  /v1/guidgenerator:
    get:
      summary: Generate GUID
      description: GUID Generator is a tool for generating Globally Unique Identifiers (GUIDs). It creates RFC 4122 version 4 UUIDs with multiple formatting options including uppercase, no hyphens, and braces.
      operationId: guidgenerator
      parameters:
      - name: count
        default: '1'
        in: query
        schema:
          type: string
        required: false
        description: 'Number of GUIDs to generate (1-100, default: 1)'
        example: '3'
      - name: format
        default: default
        in: query
        schema:
          type: string
        required: false
        description: "Format: 'default', 'uppercase', 'nohyphens', or 'braces' (default: default)"
        example: uppercase
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: string
                    description: data
              example:
                status: ok
                error: 
                data:
                  guids:
                  - FC79FCBB-39EA-4489-8203-B309471CE520
                  - 807C7704-6BF4-4156-9428-58F1CDC1EDA8
                  - 2A91D0B2-A7C0-47D3-9243-7D72C913C845
                  count: 3
                  format: uppercase
                  version: 4
                  variant: RFC 4122
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occured, try again later
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
security:
- api_key: []
